//A CLEARFIX APPENDS A PSEUDO ELEMENT AFTER THE ELEMENT, WHICH WILL CLEAR THE FLOATS
@mixin clearfix {
  &::after {
    //WE ALWAYS NEED TO SPECIFY A "CONTENT" PROPERTY, ELSE PSEUDO ELEMENT WILL NOT APPEAR!
    //WE WANT IT EMPTY BC WE DO NOT WANT TO SEE THE ELEMENT ON THE PAGE!
    content: "";
    display: table;
    clear: both;
  }
}
